body {
    background-color: #1E2125;
    color: #fff;
    transition: .4s;
}

::selection {
    background-color: #373D45;
    color: #1E2125;
    transition: .4s;
}

.header {
    color: #ADBED4;
    transition: .4s;
}

.nav a {
    color: #ADBED4;
    transition: .4s;
}

.nav a:hover {
    background-color: #2B2E32;
    transition: .3s;
}

.nav a.active::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2B2E32;
    border-radius: .5em;
    transition: .4s;
}

/* --- */

.char__container {
    background-color: #2B2E32;
}

.char-column {
    background-color: #2B2E32;
}

.char__container-mobile {
    background-color: #2B2E32;
}

.skill {
    color: #fff;
    background-color: #41464E;
}

.skill-future {
    background-color: #303338;
    color: #808080;
}

.skill-tea {
    background-color: #C85C1F;
}

.closeBtn span {
    background-color: #fff;
}

.closeBtnM {
    background-color: #41464E;
}


/* --- */

.light__line {
    width: 50px;
    height: 10px;
    background-color: #2B2E32;
    border-radius: .5em;
    cursor: pointer;
    transition: .4s;
}

.light__circle {
    height: 20px;
    width: 20px;
    border-radius: 10em;
    background-color: #3A3D42;
    position: absolute;
    top: -5px;
    left: 0px;
    cursor: pointer;
    transition: .5s;
}

.line {
    background-color: #2B2E32;
    transition: .4s;
}

.details__p {
    border-bottom: 3px solid #2B2E32;
    margin: .5em 0;
    transition: .4s;
}

.right__line {
    border-right: 5px solid #2B2E32;
    border-radius: .3em;
    transition: .4s;
}

.slider__text {
    color: #565F6B;
    filter: blur(3px);
    transition: .3s;
}

.slider__text:hover {
    filter: blur(0);
    color: #ADBED4;
    cursor: pointer;
    transition: .3s;
}

.line-2 {
    height: 5px;
    border-radius: .2em;
    width: 100%;
    background-color: #2B2E32;
    margin: 1em 0;
    transition: .4s;
}

.skill__item {
    background-color: #31373E;
}

.mobile__button span {
    background-color: #fff;
}

.menu__item {
    background-color: #16191D;
    color: #fff;
}

.menu__item a.active {
    border-bottom: 3px solid #2B2E32;
}

.menu__item a:hover {
    background-color: #2B2E32;
    border-radius: .25em;
}

.mobile__light-line {
    width: 50px;
    height: 10px;
    background-color: #2B2E32;
    border-radius: .5em;
    cursor: pointer;
    transition: .4s;
    position: absolute;
    top: 21px;
    left: 74px;
}

.lang p:hover {
    background-color: #2B2E32;
}

.mobile__light-circle{
    height: 20px;
    width: 20px;
    border-radius: 10em;
    background-color: #3A3D42;
    position: absolute;
    top: 16px;
    left: 67px;
    cursor: pointer;
    transition: .5s;
}

.model__window {
    background-color: #24282D;
    color: #fff;
}

.model__window-top button {
    color: #fff;
    background-color: #32373F;
}

.model__window-top button:hover {
    background-color: #434a55;
}

.model__window-mobile {
    background-color: #24282D;
}

.model__window-mobile h1 {
    color: #fff;
}

.model__window-mobile p {
    color: #fff;
}

.model__window-mobile button {
    color: #fff;
    background-color: #32373F;
    border: none;
}